.advantage{
    width:fit-content;
}
.headers{
    text-align: center;
    padding: 10px;
}
.selectorD{
    text-align: center;
    
}
.selector{
    width:600px;
   
}
.advantageSpacing{
    text-align: -webkit-center;
   
}
.buttonD{
    text-align: center;
    padding: 20px;
}

.test{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.resultsCard{
   
    width: 900px;
    padding: 20px;
    text-align: center;
    margin: 10px;
   
}